body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.post {
  margin: 0 auto;
  border: 2px solid lightgray;
  border-radius: 15px;
  margin-top: 15px;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user__info {
  width: 500px;
  padding-left: 20px;
}

.user__fio {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 0;
}

.post__photo-wrapper {
  width: 500px;
  height: auto;

  img {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
}

.author__follow-inf {
  display: flex;
  gap: 10px;
}

.post__btn {
  display: flex;
  width: 500px;
  padding-left: 20px;
  gap: 10px;
  font-size: 30px;
  border: none;
  background-color: transparent;
}

.post__description {
  width: 500px;
  padding-left: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;

  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 20px;

  input {
    padding: 5px;
  }
}

.set__like {
  cursor: pointer;
  color: red;
}

.unset__like {
  cursor: pointer;
}

.post__wrapper {
  display: flex;
  justify-content: center;

  gap: 50px;

  & > div {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 0 20px;
    min-height: 500px;
  }
}
